*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.navigationBar{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    height: 80px;
    background-color: white;
}
.navigationBar{
    background-color: lightgrey;
}
.leftBar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftBar p{    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color:rgb(136, 123, 136);
}
.middleBar{
    display: flex;
    gap: 25px;
    align-items: center;
}
.rightmostBar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.linkTag a{
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    color: black;
}
.linkTag a:hover{
    color: red;
    cursor: pointer;
}
.linkTag a:active{
    color: yellow;
}
.mainDiv{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.mainSideDiv{
    padding-top: 30px;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
}
.bakeryLogo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3256687/images/3576175.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.mainTitle{
    color: white;
    font-size: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
}
div p{
    text-align: center;
}
.mainText{
    height: 70px;
}
.mainText p{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}
.mainText2{
    height: 20px;
}
.mainText2 p{
    color: white;
    font-size: 18px;
    font-style: italic;

}
.buttonDiv{
    display: flex;
    align-items: center;
}
.mainButton{
    width: 200px;
    height: 60px;
    border-radius: 8px;
    border: 3px solid white;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    word-spacing: 7px;
    
}
@keyframes bordercolor{
    50%{border-color: rgb(234, 234, 40);}
    100%{border-color: white;}
}

.mainButton:hover{
    cursor: pointer;
    animation-name: bordercolor;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
.mainImage{
    width: 100%;
    height: 350px;
    background-image: url('https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/9ccfd8184e705bad974787e7/ghgh-min.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.menuDiv{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    gap: 20px;
}
.menuContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.menuTitle{
    height: 40px;
}
.menuTitle p{
    font-size: 30px;
}
.menuText p{
    font-style: italic;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.menu{
    padding-top: 20px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.bgImage{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 0.2s;
}
.bgImage:hover{
    cursor:pointer;
    opacity: 0.9;
    transform: translate(2px, -2px);

    
}

.text1{
    height: 30px;
}
.text1 p{
    font-size: 25px;
}
.text2{
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.text2 p{
    font-style: italic;
    font-size: 15px;
}
.price{
    height: 35px;
}
.price p{
    font-size: 30px;
    color: grey;
}

.variousBreadDiv{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: black;
    width: 100%;
    padding-top: 50px;
}
.breadBar{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 70px;
}
.breadTitle{
    height: 35px;
}
.breadTitle p{
    font-size: 29px;
    color: white;
}
.bread{
    height: 350px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    transition: 0.2s;
}
.bread:hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.05);

}
.breadImage{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.breadName{
    height: 20px;
}
.breadName p{
    font-weight: bold;
    font-size: 22px;
}
.more a{
    color: rgb(80, 30, 80);
}
.more a:hover{
    cursor: pointer;
    color: red;
}

.breadText{
    height: 45px;
}
.breadText p{
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
}
.sweetsDiv{
    height: 850px;
    background-image: url('https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/7498296e4db8581c94ab1c35/uyy.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sweetsTitle{
    height: 50px;
    color: white;
    margin-bottom: 50px;
}
.sweetsTitle p{
    font-size: 50px;
}
.sweetContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
ul{
    list-style: none;
    color: black;
    font-size: 20px;
    line-height: 70px;
}
.listIcon{
    display: inline-block;
    width: 10px;
    height: 1px;
    background-color: black;
}
li{
    line-height: 30px;
}
.sweetContent{
    background-color: white;
    width: 80%;
    display: flex;
    border-radius: 10px;
}
.ulDiv{
    display: flex;
    align-items: center;
}
.cookiesDiv{
    height: 230px;
}
.ulDiv1{
    height: 200px;
}
.sconesDiv{
    height: 190px;
}
.ulDiv2{
    height: 170px;
}
.otherDiv{
    height: 210px;
}
.ulDiv3{
    height: 180px;
}
.contactContainer{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(167,159,148);
}
.contactDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.contactImage{
    width: 100%;
    height: 350px;
    background-image: url('https://assets.nicepagecdn.com/d2cc3eaa/3256687/images/65.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contactTextContainer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contactTitle{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.contactTitle p{
    font-size: 30px;
    text-align: left;
}
.contactText{
    padding-left: 15px;
    padding-right: 10px;
}
.contactText p{
    text-align: left;
    font-style: italic;
}
.phoneDiv{
    width: 100%;
    display: flex;
    gap: 20px;
    padding-left: 15px;
    align-items: center;
}
.phoneIcon{
    font-size: 20px;
    color: rgb(167,159,148);
}
.phoneNumber{
    font-size: 20px;
}
.backgroundDiv{
    display: flex;
    flex-direction: column;
    background-color: white;

}
.topBackground{
    width: 100%;
    height: 300px;
    position: relative;
}
.bottomBackground{
    width: 100%;
    height: 1080px;
    background-color: white;
}
.sampleBreadContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 30px;
}
.sampleBread{
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;
}
.sampleBread:hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.05);
    
}
.sampleImage{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.forSample{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.sampleTitle{
    height: 35px;
}
.sampleTitle p{
    text-align: left;
    font-size: 35px;
}
.sampleText{
    height: 45px;
}
.sampleText p{
    font-size: 15px;
    text-align: left;
    font-style: italic;
}
.signupAddressContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupAddressDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forSignupAddress{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5px 15px;
}
.signupDiv{
    height: 350px;
}
.forText{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.forText p{
    text-align: left;
}
.signupTitle{
    height: 20px;
}
.signupTitle p{
    font-size: 23px;
}
.signupText p{
    font-size: 18px;
}
.formContainer{
    width: 100%;
}
.formDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formDiv input{
    height: 40px;
    padding: 5px 12px;
    font-size: 18px;
    outline-color: rgb(167,159,148);
    border-style: none;
}
.email{
    background-color: rgb(242,242,242);
}
.submit{
    font-weight: bold;
    text-align: center;
    color: white;
    outline-style: none;
    border: none;
    background-color: rgb(167,159,148);
}
.submit:hover{
    cursor: pointer;
    background-color: rgb(42, 32, 32);
}
.iconDiv{
    display: flex;
    gap: 17px;
}
.icon i{
    font-size: 25px;
}
.addressContainer{
    width: 100%;
    height: 300px;
}
.addressTitle{
    height: 30px;
}
.addressTitle p{
    font-size: 30px;
}
.addressDiv{
    height: 90px;
}
.forAddress{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.timeDiv{
    height: 55px;
}
.address{
    height: 20px;
}
.address p{
    font-size: 20px;
}
.lastContainer{
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lastDiv{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.logoDiv{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3256687/images/3576175.png");
    background-repeat: no-repeat;
    background-size: contain;    
}
.headlineContainer{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.headlineInnerContainer{
    width: 100%;;
    height: 50px;
    display: flex;
    justify-content: flex-start;
}
.headlineDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}
.headTitle{
    height: 20px;
}
.headTitle p{
    font-size: 18px;
    color: white;
}
.headText{
    height: 15px;
}
.headText p{
    font-size: 15px;
    color: white;
}
.lastIcon{
    color: white;
}



@media screen and (max-width: 460px){
    .middleBar{
        display: none;
    }
}
@media screen and (min-width: 460px){
    .middleBar{
        display: none;
    }
    .mainDiv{
        height: 1050px;
    }
    .mainImage{
        height: 500px;
    }
    .mainText{
        height: 40px;
    }
    .breadTitle p{
        font-size: 35px;
    }
    .contactDiv{
        width: 80%;
        height: 90%;
    }
    .contactContainer{
        height: 800px;
    }
    .contactImage{
        height: 500px;
    }
    .contactTitle p{
        font-size: 28px;
    }
    .contactText p{
        font-size: 20px;
    }
    .backgroundDiv{
        background-color: rgb(167,159,148);
    }
    .phoneIcon{
        font-size: 25px;
    }
    .phoneNumber{
        font-size: 25px;
    }
    .sampleBread{
        width: 80%;
    }

    .sampleBread{
        height: 540px;
    }
    .sampleImage{
        height: 400px;
    }
    .sampleImage1, .sampleImage2, .sampleImage3{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .sampleText p{
        font-size: 18px;
    }
    .sampleBreadContainer{
        position: absolute;
        top: 100px;
    }
    .bottomBackground{
        height: 1480px;
    }
    .twoBackgroundDiv{
        background-color: rgb(167,159,148);
    }
    .formDiv{
        width: 80%;
    }
    .signupTitle{
        height: 30px;
    }
    .signupTitle p{
        font-size: 30px;
    }
    .signupAddressDiv{
        width: 80%;
    }
}

@media screen and (min-width: 640px){
    .middleBar{
        display: none;
    }
    .navigationBar{
        padding-left: 50px;
        padding-right: 50px;
    }
    .leftBar p{
        font-size: 25px;
    }
    .mainDiv{
        height: 1170px;
    }
    .mainImage{
        height: 620px;
    }
    .menuText p{
        font-size: 20px;
    }
    .mainTitle p{
        font-size: 40px;
    }
    .menuTitle p {
        font-size: 50px;
    }
    .sweetContent{
        width: 400px;
    }
    .contactContainer{
        height: 900px;
    }
    .contactImage{
        height: 600px;
    }
    .contactTitle p{
        font-size: 35px;
    }
    .signupDiv{
        height: 300px;
    }
    .formDiv{
        width: 100%;
        display: grid;
        grid-template: 35px / 56% 27%;
    }
    .signupText{
        height: 40px;
    }
    .signupText p{
        font-size: 20px;
    }
  
    
}
@media screen and (min-width: 840px){
    .middleBar{
        display: none;
    }
    .mainDiv{
        height: 1200px;
    }
    .mainImage{
        height: 650px;
        width: 95%;
    }
    .breadBar{
        padding-left: 50px;
        padding-right: 50px;
    }
    .sweetContainer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
    }
    .sweetContent{
        width: 300px;
        height: 300px;
    }  
    .ulDiv1, .ulDiv3{
        padding-top: 30px;
    }
    .contactContainer{
        width: 100%;
        height: 550px;
    }
    .contactDiv{
        flex-direction: row;
        height: 460px;
        width: 90%;
        position: relative;
    }
    .contactImage{
        height: 100%;
        width: 40%;
    }
    .contactTextContainer{
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 20px; 
        width: 60%;
    }
    .contactTitle{
        height: 100px;
    }
    .contactTitle p{
        font-size: 50px;
    }
    .contactText p{
        font-size: 25px;
    }
    .sampleBreadContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .sampleBread{
        width: 350px;
        height: 450px;
    }
    .sampleBread3{
        justify-self: flex-start;
    }
    .sampleImage{
        width: 100%;
        height: 300px;
    }
    .sampleText{
        height: 70px;
    }
    .bottomBackground{
        height: 750px;
    }
    .signupAddressDiv{
        display: flex;
        flex-direction: row;
        width: 80%;
    }
    .forSignupAddress{
        height: 400px;
    }
    .formDiv{
        width: 100%;
        display: grid;
        grid-template: 35px / 65% 27%;
    }
    .headlineContainer{
        display: flex;
        flex-direction: row;
    }

}
@media screen and (min-width: 1024px){
    .navigationBar{
        padding-left: 100px;
        padding-right: 100px;
    }
    .middleBar{
        display: flex;
    }
    .rightmostBar{
        display: none;
    }
    .mainDiv{
        display: flex;
        flex-direction: row;
        height: 700px;
        position: relative;
    }
    .bakery a{
        font-size: 20px;
    }
    .mainSideDiv{
        height: 100%;
        padding-bottom: 70px;
        padding-top: 70px;
        padding-right: 100px;
        position: absolute;
        width: 40%;
        right: 0;
    }
    .mainImage{
        height: 85%;
        width: 60%;
        position: absolute;
        bottom: 0;
    }
    .mainButton{
        width: 250px;
        height: 70px;
        font-size: 17px;
    }
    .breadBar{
        padding-left: 180px;
        padding-right: 180px;
    }
    .sweetsDiv{
        height: 600px;
    }
    .sweetContainer{
        padding-left: 15px;
        padding-right: 15px;
    }
    .sampleBreadContainer{
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .sampleBread{
        width: 400px;
        height: 500px;
    }
    .sampleImage{
        width: 100%;
        height: 350px;
    }
    .bottomBackground{
        height: 850px;
    }
}
@media screen and (min-width: 1280px){
    .middleBar{
        display: flex;
    }
    .rightmostBar{
        display: none;
    }
    .mainImage{
        height: 100%;
        width: 50%;
    }
    .mainSideDiv{
        width: 50%;
    }
    .menuContent{
        padding-left: 100px;
        padding-right: 100px;
    }
    .breadBar{
        padding-left: 250px;
        padding-right: 250px;
    }
    .sampleBread{
        width: 350px;
        height: 500px;
    }
    .sampleImage{
        width: 100%;
        height: 350px;
    }
    .bottomBackground{
        height: 300px;
    }
}
@media screen and (min-width: 1350px){
    .middleBar{
        display: flex;
    }
    .rightmostBar{
        display: none;
    }
    .breadBar{
        padding-left: 10px;
        padding-right: 10px;
    }
    .sampleBread{
        width: 380px;
        height: 550px;
    }
    .sampleImage{
        width: 100%;
        height: 400px;
    }
    .bottomBackground{
        height: 350px;
    }
}
@media screen and (min-width: 1510px){
    .menuContent{
        gap: 60px;
        padding-left: 150px;
        padding-right: 150px;
    }
}



